.theCars {
  width: 100%;
  text-align: center;
}

.carName {
  color: cyan;
}

.carPrice {
  color: yellow;
}

@media only screen and (max-width: 768px) {
  .theCars {
    width: 95%;
    margin: auto;
  }
}
