* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stylelint-disable */

body {
  font-family: "Open Sans";
}

/* stylelint-enable */

.email {
  font-size: 30px;
  color: white;
  font-weight: bolder;
}

section {
  height: 95vh;
  width: 100%;
  background: url("https://lh3.googleusercontent.com/-1osAoLI5KxM-ttHAb3fob5_SUyrn1t8OP6IFQ4oZDSDVdgQ1qrKgrYlzjR5uD3pgkPzSaaBfhNTiYs2KmzrgfuW1z6-Zuipl3fVltf_YigIN6hzODGqdKXeeuQ5r42E9JDm_3wWHrBi1PBZP63MqZO7cjhogcdW5rjkQCruuhsX4_vRnM7sMQM8oqYRMywFf9oHDU7Bq1PH6f1fFJkWYKkxwa4jGUZ6UQwKHHrz1aOoFo4s8lWxmqA01h1fVG9EZGNeAZoSeWjm-o-1s7Iz5StSARBxYCDGvVue-nVWJiM6ll1zm97AbMiIEnz4HhmZe5Fl4VQczOAi6BNdoItAHr7OnBlozcYdo_iQ3M3dIdnMItVKaY2wdhcxImcPCJXY4E79rcoVysdtlT_2JLOtDc2TAyYrG1MloWc0aDs-8XuAbK8jbHuWgMejeIxPF5G2j72UVk-QbKTOhvmMze47XiWF50vjTMdzs-sMrqTw3N4zjvpRn2OitcegQk0efD7SKF26OXx61AdOzbMRV52K1sQbqcRoyvPZy29_X8z2L-tRBr92K-t89wh-Q2QuJopmVc5ycLPRyqfJDnkXMdq18eespzfqLnPkAC7PT88y0S-xJPsmk0EL4dz1nhWc_0gCQQUQUKEKebujDdtEsH7WZcs6Rt257WA2nzsspT8eXB9LNOkFWmwVAoz78jV8=w1014-h669-no?authuser=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-input {
  height: 50px;
  font-size: 25px;
  background: rgb(235, 235, 243);
  border-radius: 10px;
}

.form-container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  border-radius: 10px;
  box-shadow: 7px 7px 60px #000;
  width: 40%;
}

form {
  width: 100%;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
  color: cyan;
}

.control {
  text-align: center;
}

.control input {
  width: 100%;
  display: block;
  padding: 10px;
  border: none;
  outline: none;
  margin: 1em 0;
  text-align: center;
}

.control input[type="text"] {
  color: rgb(54, 54, 61);
}

.control button[type="submit"] {
  background: green;
  border: 1px solid transparent;
  border-radius: 10px;
  height: 50px;
  text-transform: uppercase;
  width: 100%;
  transition: opacity 0.3s ease;
  font-size: 20px;
  color: cyan;
  font-weight: bolder;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

.control input[type="submit"]:hover {
  opacity: 1;
}

.link {
  text-align: center;
}

.link a {
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.link a:hover {
  opacity: 1;
}

@media only screen and (max-width: 960px) {
  section {
    height: 95vh;
  }
}

@media only screen and (max-width: 768px) {
  section {
    height: 95vh;
  }

  .form-container {
    min-width: 95%;
  }

  form {
    max-width: 100%;
  }
}
